.mainContainer {
  display: flex;
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.slotsContainer {
  flex: 60%; /* Takes up 65% of the space */
  overflow-y: auto; /* Allows scrolling if content overflows */
  padding: 20px;
}

.sidebarContainer {
  flex: 40%; /* Takes up 35% of the space */
  background-color: #f0f0f0; /* Light grey background for distinction */
  border-left: 1px solid #ccc; /* Adds a separator */
  overflow-y: auto; /* Allows scrolling if content overflows */
}
